.coral-bold {
  color: coral;
  font-weight: bold;
}

.brown {
  color: brown;
}

h2 {
  color: blue;
}

.container-one {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid black;
}

.container-one p {
  color: red;
  text-decoration: underline;
}

/* unvisited link */
a:link {
  color: #ff0000;
}

/* visited link */
a:visited {
  color: #00ff00;
}

/* mouse over link */
a:hover {
  color: #ff00ff;
  cursor: alias;
}

/* selected link */
a:active {
  color: #0000ff;
  background: burlywood;
}

input:enabled {
  background: blue;
  border: 2px solid purple;
}

button:enabled {
  background: blue;
}

input:required {
  border: 2px solid red;
}
